<form method="POST" id="add_task">
    <div class="new_task">
        <div class="form-add">
            <input type="text" name = "task" class = "text_input" placeholder="Add Task">
            <input type="text" name = "notes" class = "text_input" placeholder="Add Notes">
            <button type = "submit" class="btn text-dark update">Add</button>
        </div>
    </div>
</form>