<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<tr>
    <td>Math Homework</td>
    <td>Finish Assignment 1</td>
    <td>Incomplete</td>
    <td>
        <a href="/update-tasks" class ="btn update">
            <span class = "text-gradient"><i class = "fas fa-pencil-alt"></i></span>
        </a>

        <a class ="btn delete">
            <span class = "text-gradient"><i class = "fa fa-trash"></i></span>
        </a>
    </td>
</tr>