<!-- Header -->
<%- include('partials/_header')%>
<!-- Header -->

    <!-- main  -->
    <main class="main-site">
        <div class="container">
            <div class="nav-main">
                <div class="filter">
                    <a href="/add-tasks"><span class = "text-gradient"><i class = "fas fa-angle-double-left"></i>All Tasks</span></a>
                </div>
            </div>
            <div class="form-header text-center">
                <h2 class = "text-styling">Create New Task!</h2>
            </div>
            
            <%- include('partials/_form')%>


        </div>
    </main>
    <!-- main  -->


<!-- Footer -->
<%- include('partials/_footer')%>
<!-- Footer -->