<!-- Header -->
<%- include('partials/_header')%>
<!-- Header -->

    <!-- main  -->
    <main class="main-site">
        <div class="container">
            <div class="nav-main">
                <div class="filter">
                    <a href="/"><span class = "text-gradient"><i class = "fas fa-angle-double-left"></i>All Tasks</span></a>
                </div>
            </div>
            <div class="form-header text-center">
                <h2 class = "text-styling">Update Task</h2>
            </div>
            
            <form method="POST" id="update_task">
                <div class="new_task">
                    <div class="form-add">
                        <input type="text" name = "task" class = "text_input" placeholder="Add Task" value ="<%=update_data.task%>">
                        <input type="text" name = "notes" class = "text_input" placeholder="Add Notes" value ="<%=update_data.notes%>">
                        <button type = "submit" class="btn update">Update</button>
                    </div>
                </div>
            </form>


        </div>
    </main>
    <!-- main  -->


<!-- Footer -->
<%- include('partials/_footer')%>
<!-- Footer -->